/* CSS Document - Italian */
.brandbar .icons > .icon-wrapper .icon-slideout .icon-slideout-inner .search-form .search-text, #nav-mobile .navbar-menu .search-box .search-form .search-text {width: 207px !important;}

.cbp-hrmenu .cbp-hrsub-inner .row li.spacer {height:75px !important;}
.task-bar a {font-size:11px;}
.breadcrumb .share-list > li > .dropdown-menu > li > a {width:85px; padding:3px; text-align:left;}